In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from IPython.display import display
import ipywidgets as widgets

In [ ]:
# file import
file_csv = "1BP0pFZ6eff6RYYdq-RGKMdFBs5g9QWol"
file_metadata = "1X34OvCX0LbwJEHZ7KFPSqQSZu5pz0xFt"
url_csv = f"https://drive.google.com/uc?id={file_csv}"
url_metadata = f"https://drive.google.com/uc?id={file_metadata}"
df = pd.read_csv(url_csv)
metadata = pd.read_csv(url_metadata)

In [ ]:
pd.set_option('display.max_columns', None)
df.sample(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
2046,1142,1953,PhD,Married,55707.0,0,1,2013-12-22,91,208,7,82,30,66,35,2,3,2,9,3,0,0,0,0,0,0,0,Spain
52,7264,1978,2n Cycle,Single,52195.0,2,1,2014-05-12,2,12,0,4,0,0,1,1,1,0,2,8,0,0,0,0,0,0,0,Saudi Arabia
1599,7761,1978,2n Cycle,Together,38702.0,1,0,2013-08-01,71,13,11,24,13,8,40,2,3,0,4,6,0,0,0,0,0,0,0,Australia
388,9463,1959,Graduation,Together,71706.0,0,1,2012-11-13,16,931,56,253,91,98,14,4,9,5,7,5,0,0,0,0,0,0,0,Canada
475,8652,1946,Graduation,Together,37760.0,0,0,2012-08-31,20,84,5,38,150,12,28,2,4,1,6,7,0,0,0,0,0,0,0,Saudi Arabia
1081,8254,1974,PhD,Married,34596.0,1,0,2013-04-13,48,14,0,2,0,0,7,1,1,0,2,8,0,0,0,0,0,0,0,Germany
770,2612,1987,Graduation,Married,75794.0,0,0,2013-12-24,33,754,160,625,63,32,48,1,7,5,12,3,0,0,0,1,0,0,0,Saudi Arabia
1763,8916,1975,Graduation,Divorced,36627.0,2,0,2013-07-23,78,9,1,5,0,0,1,1,0,0,3,5,0,0,0,0,0,0,0,Saudi Arabia
787,9097,1956,Graduation,Divorced,46086.0,0,1,2013-11-03,34,244,8,32,7,2,50,4,3,1,8,4,0,0,0,0,0,0,0,Spain
1266,5529,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,0,30,0,0,8,7,8,2,5,7,0,0,0,1,0,0,0,Canada

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4    Income              2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Response             2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Country              2240 non-null   object
dtypes: float64(1), int64(23), object(4)
memory usage: 490.1+ KB

1. Year birth with numwebvisitsmonth and numwebpurchase
2.

In [ ]:
### Transformations
# df["Kidhome"] = df["Kidhome"].astype("category")
df["Households"] = df["Kidhome"]+df["Teenhome"]
# df.columns = ['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income',
#        'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines',
#        'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
#        'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
#        'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
#        'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
#        'AcceptedCmp2', 'Response', 'Complain', 'Country', 'MntWines_binned',
#        'MntFruits_binned', 'MntMeatProducts_binned', 'MntFishProducts_binned',
#        'MntSweetProducts_binned', 'MntGoldProds_binned', 'Households']

In [ ]:
df[~df["Marital_Status"].isin(["YOLO", "Absurd"])].info()

<class 'pandas.core.frame.DataFrame'>
Index: 2236 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2236 non-null   int64
 1   Year_Birth           2236 non-null   int64
 2   Education            2236 non-null   object
 3   Marital_Status       2236 non-null   object
 4    Income              2212 non-null   float64
 5   Kidhome              2236 non-null   int64
 6   Teenhome             2236 non-null   int64
 7   Dt_Customer          2236 non-null   object
 8   Recency              2236 non-null   int64
 9   MntWines             2236 non-null   int64
 10  MntFruits            2236 non-null   int64
 11  MntMeatProducts      2236 non-null   int64
 12  MntFishProducts      2236 non-null   int64
 13  MntSweetProducts     2236 non-null   int64
 14  MntGoldProds         2236 non-null   int64
 15  NumDealsPurchases    2236 non-null   int64
 16  NumWebPurchases      2236 non-null   int64
 17  NumCatalogPurchases  2236 non-null   int64
 18  NumStorePurchases    2236 non-null   int64
 19  NumWebVisitsMonth    2236 non-null   int64
 20  AcceptedCmp3         2236 non-null   int64
 21  AcceptedCmp4         2236 non-null   int64
 22  AcceptedCmp5         2236 non-null   int64
 23  AcceptedCmp1         2236 non-null   int64
 24  AcceptedCmp2         2236 non-null   int64
 25  Response             2236 non-null   int64
 26  Complain             2236 non-null   int64
 27  Country              2236 non-null   object
 28  Households           2236 non-null   int64
dtypes: float64(1), int64(24), object(4)
memory usage: 524.1+ KB

In [ ]:
# df[df["Income"].isnull()]

In [ ]:
df.sample(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country,Households
983,10212,1986,Master,Together,42386.0,1,0,2013-01-13,43,65,4,16,0,4,11,1,3,0,3,8,0,0,0,0,0,0,0,India,1
2152,1890,1971,2n Cycle,Together,42033.0,1,1,2012-09-19,95,11,1,4,2,0,7,1,1,0,2,7,0,0,0,0,0,0,0,Spain,2
2086,4094,1961,Graduation,Married,60544.0,1,1,2012-08-25,92,201,2,43,3,5,35,4,5,1,5,6,0,0,0,0,0,0,0,Australia,2
2097,4440,1964,Master,Married,64100.0,0,1,2013-09-10,93,509,0,27,0,0,10,1,8,3,6,7,0,1,0,0,0,0,0,Saudi Arabia,1
911,6246,1953,Graduation,Single,73892.0,0,0,2013-11-13,40,703,102,601,0,58,43,1,3,11,8,1,0,0,0,0,0,1,0,Canada,0
877,5036,1984,PhD,Single,42710.0,1,0,2012-11-28,38,252,3,42,4,3,102,2,4,5,3,6,0,0,0,0,0,0,0,Spain,1
1960,4279,1963,2n Cycle,Single,39548.0,1,1,2014-03-31,87,15,4,10,3,4,18,2,1,1,3,3,0,0,0,0,0,0,0,Spain,2
855,11071,1984,Graduation,Single,79607.0,0,0,2013-04-21,37,450,133,951,173,0,216,1,3,6,6,1,0,0,0,0,0,1,0,Canada,0
1909,1490,1962,Graduation,Married,55759.0,0,1,2012-11-28,84,675,0,85,10,7,77,5,10,3,8,8,0,0,0,0,0,0,0,Canada,1
466,3697,1954,Graduation,Together,39898.0,0,1,2013-02-12,20,69,8,26,12,7,12,2,3,0,4,7,0,0,0,0,0,0,0,Canada,1

In [ ]:
df.Country.value_counts().reset_index(), df.Country.unique()

(        Country  count
 0         Spain   1095
 1  Saudi Arabia    337
 2        Canada    268
 3     Australia    160
 4         India    148
 5       Germany    120
 6           USA    109
 7        Mexico      3,
 array(['Spain', 'Canada', 'USA', 'Australia', 'Germany', 'India',
        'Saudi Arabia', 'Mexico'], dtype=object))

In [ ]:
pd.set_option('display.max_colwidth', None)
metadata

,Field,Description
0,ID,Customer's unique identifier
1,Year_Birth,Customer's birth year
2,Education,Customer's education level
3,Marital_Status,Customer's marital status
4,Income,Customer's yearly household income
5,Kidhome,Number of children in customer's household
6,Teenhome,Number of teenagers in customer's household
7,Dt_Customer,Date of customer's enrollment with the company
8,Recency,Number of days since customer's last purchase
9,MntWines,Amount spent on wine in the last 2 years
10,MntFruits,Amount spent on fruits in the last 2 years
11,MntMeatProducts,Amount spent on meat in the last 2 years
12,MntFishProducts,Amount spent on fish in the last 2 years
13,MntSweetProducts,Amount spent on sweets in the last 2 years
14,MntGoldProds,Amount spent on gold in the last 2 years
15,NumDealsPurchases,Number of purchases made with a discount
16,NumWebPurchases,Number of purchases made through the company's web site
17,NumCatalogPurchases,Number of purchases made using a catalogue
18,NumStorePurchases,Number of purchases made directly in stores
19,NumWebVisitsMonth,Number of visits to company's web site in the last month
20,AcceptedCmp3,"1 if customer accepted the offer in the 3rd campaign, 0 otherwise"
21,AcceptedCmp4,"1 if customer accepted the offer in the 4th campaign, 0 otherwise"
22,AcceptedCmp5,"1 if customer accepted the offer in the 5th campaign, 0 otherwise"
23,AcceptedCmp1,"1 if customer accepted the offer in the 1st campaign, 0 otherwise"
24,AcceptedCmp2,"1 if customer accepted the offer in the 2nd campaign, 0 otherwise"
25,Response,"1 if customer accepted the offer in the last campaign, 0 otherwise"
26,Complain,"1 if customer complained in the last 2 years, 0 otherwise"
27,Country,Customer's location

### Transition of customer behaviour for each stage of campaign

In [ ]:
sankey_df = df[["AcceptedCmp1", "AcceptedCmp2", "AcceptedCmp3", "AcceptedCmp4", "AcceptedCmp5", "Response"]]

campaigns = ['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'Response']
counts = {}

for i in range(len(campaigns) - 1):
    source_campaign = campaigns[i]
    target_campaign = campaigns[i + 1]

    # Count transitions from 1 to 1, 1 to 0, 0 to 1, and 0 to 0
    for source in [0, 1]:
        for target in [0, 1]:
            count = len(sankey_df[(sankey_df[source_campaign] == source) & (sankey_df[target_campaign] == target)])
            counts[(f"{source_campaign}_{source}", f"{target_campaign}_{target}")] = count

sources = []
targets = []
values = []
labels = []

# Create unique labels for each stage
label_dict = {}
index = 0
for (source, target), count in counts.items():
    if count > 0:
        if source not in label_dict:
            label_dict[source] = index
            labels.append(source)
            index += 1
        if target not in label_dict:
            label_dict[target] = index
            labels.append(target)
            index += 1
        sources.append(label_dict[source])
        targets.append(label_dict[target])
        values.append(count)

# Create the Sankey diagram
fig = go.Figure(go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color="black", width=0.5),
        label=labels,
    ),
    link=dict(
        source=sources,
        target=targets,
        value=values
    )
))

fig.update_layout(title_text="Customer Behaviour overtime of Campaign", font_size=10)
fig.show()

In [ ]:
sankey_data = pd.DataFrame({
    'Source': [labels[source] for source in sources],
    'Target': [labels[target] for target in targets],
    'Value': values
})

# Save to CSV
sankey_data.to_csv("sankey_data.csv", index=False)

### What to buy for each kidhome

In [ ]:
df

In [ ]:
df[['Households','MntWines', 'MntFruits', 'MntMeatProducts','MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].groupby(["Households"]).median().reset_index()

In [ ]:
df_grouped = df[['Kidhome','MntWines', 'MntFruits', 'MntMeatProducts','MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].groupby("Kidhome").mean().reset_index()

fig = px.parallel_coordinates(df_grouped, color="Kidhome",
                              dimensions=['MntWines', 'MntFruits', 'MntMeatProducts',
                                          'MntFishProducts', 'MntSweetProducts', 'MntGoldProds'],
                              color_continuous_scale=px.colors.diverging.Tealrose,
                              color_continuous_midpoint=2)
fig.show()

### Maps for Amount of Product Categories Purchased

In [ ]:
df_group_map = df[["Country", 'MntWines', 'MntFruits', 'MntMeatProducts','MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].groupby("Country").median().reset_index()

In [ ]:
columns = ['MntWines', 'MntFruits', 'MntMeatProducts','MntFishProducts', 'MntSweetProducts', 'MntGoldProds']

for column in columns:
  fig = px.scatter_geo(df_group_map, locations="Country", locationmode="country names",
                     size=column,
                     projection="natural earth",
                     title=f"Bubble Chart for Selected Countries and {column}")

  fig.show()